@media (max-width: 360px){
	.logo__brandname_medium {
		font-size: 1.5rem;
	}
}

@media (max-width: 420px){
	.product__name {
		font-size: 7vw;
	}
	.product__description {
		font-size: 4vw
	}
	.product__price {
		font-size: 8vw;
	}
	.product:nth-last-child(-n+4){
		display: none;
	}
	.product__wrapper {
		max-height: 420px;
		min-height: auto;
	}
}

@media (max-width: 767px) {
	.header__bottom_wrapper {
		justify-content: flex-end;
	}
	.bottom-menu_right {
		width: 100%;
	}
	.footer__wrapper {
		height: 100px;
		justify-content: center;
	}
	.categories__item {
    	height: 28vw;
    	margin-top: 8px;
	}
	.category__inner-wrapper {
		display: flex;
	    flex-direction: column;
		height: 100%;
	}
	.category__inner-wrapper_bottom {
		display: none;
	}
	.category__title {
		padding-top: 0;
		text-align: center;
	}
	.category__icon, .category__title {
		margin: auto;
	}
	.product:nth-last-child(-n+2){
		display: none;
	}
}

@media (min-width: 640px) and (max-width: 767px) {
	.category__icon {
		height: 70px;
		width: 70px;
	}
}

@media (min-width: 769px){
	.header__middle_wrapper {
		justify-content: space-between;
	}
}

@media (min-width: 920px){
	.footer__nav__column:first-child {
	    margin-right: 60px;
	}
	.carousel-caption {
		h3, p {
			font-size: 2.8125rem;
		}		
	}
	.category__title {
		font-size: 1.75rem;
	}
}