
// .button_take-a-look {
// 	width: 140px;
// 	height: 35px;
// 	color: $color-base;
// 	background-color: transparent;	
// 	border: 1px solid white;
// 	border-radius: 20px;
// 	font-family: Raleway;
// 	font-size: 1.25rem;
// 	margin-top: 10px;
// 	&:hover {
// 		cursor: pointer;
// 	}
// }

// .button_more {
// 	position: absolute;
//     bottom: 20px;
//     font-family: Raleway;
//     font-size: .875rem;
//     color: $color-base;
//     background: $color-accent;
//     padding: 3px 10px 3px 10px;
//     border-radius: 30px;
//     text-decoration: none;
//     user-select: none;
// }

.button_more, .button_add-to-cart {
	&:hover {
		background-color: $color-accent;
		color: $color-base;
	}
}

.button_add-to-cart {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: Raleway;
	font-size: .875rem;
	color: $color-accent;
	background: $color-base;
	border-radius: 30px;
	border: 1px solid $color-accent;
	padding: 3px 15px 3px 15px;
}

// .button_to-shop {
// 	width: max-content;
// 	margin: 0 auto;
// 	font-family: Raleway;
//     font-size: 1.125rem;
//     color: $color-opposite;
//     padding: 3px 10px 4px;
// 	border-radius: 30px;
//     border: 1px solid $color-opposite;
//     &:hover {
// 		color: $color-base;
// 		background-color: $color-opposite;
// 	}
// }

