
// .button_take-a-look {
// 	width: 140px;
// 	height: 35px;
// 	color: $color-base;
// 	background-color: transparent;	
// 	border: 1px solid white;
// 	border-radius: 20px;
// 	font-family: Raleway;
// 	font-size: 1.25rem;
// 	margin-top: 10px;
// 	&:hover {
// 		cursor: pointer;
// 	}
// }

// .button_more {
// 	position: absolute;
//     bottom: 20px;
//     font-family: Raleway;
//     font-size: .875rem;
//     color: $color-base;
//     background: $color-accent;
//     padding: 3px 10px 3px 10px;
//     border-radius: 30px;
//     text-decoration: none;
//     user-select: none;
// }

// .button_more, .button_add-to-cart {
// 	&:hover {
// 		background-color: $color-opposite;
// 	}
// }

// .button_add-to-cart {
// 	width: max-content;
// 	font-family: Raleway;
// 	font-size: .875rem;
// 	color: $color-base;
// 	background: #8c0001;
// 	border-radius: 30px;
// 	padding: 3px 15px 3px 15px;
// }

// .button_to-shop {
// 	width: max-content;
// 	margin: 0 auto;
// 	font-family: Raleway;
//     font-size: 1.125rem;
//     color: $color-opposite;
//     padding: 3px 10px 4px;
// 	border-radius: 30px;
//     border: 1px solid $color-opposite;
//     &:hover {
// 		color: $color-base;
// 		background-color: $color-opposite;
// 	}
// }

