

/* decoration-elements */

.separator_horizontal {
	border-bottom: 1px solid $color-opposite;
	width: 70px;
}

.separator_horizontal_wide {
	border-top: 1px solid $color-additional;
	box-sizing: content-box;
}

.separator_vertical {
	margin: auto 20px;
	border-right: 1px solid $color-additional;
	box-sizing: content-box;
	height: 25px;
}

.separator_vertical_small {
	border-left: 1px solid $color-base;
	width: 2px;
    height: 80%;
    margin: auto;
    padding: 0 !important;
}