/* FOOTER */

.footer__bg {
	background-color: $color-base-tone;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	height: 170px;
}

.footer__logo, .footer__contacts {
	margin: auto 0;
}

.footer__contacts {
	display: none;
}

.logo {
	display: flex;
}

.logo__pic_small {
	height: 40px;
	width: 40px;
}

.logo__brandname_small {
	font-size: 1.5625rem;
	letter-spacing: 10px;
	font-family: Adamant;
	font-weight: 200;
	color: $color-additional;
	padding: 5px 0px 0px 15px;
}

.footer__nav{
	display: none;
	margin: auto;
}

.footer__nav__column {
	&:first-child {
		margin-right: 20px;
	}
}

.footer__list-name {
	color: $color-accent;
	font-family: Adamant;
	font-size: 1rem;
	margin-bottom: 10px;
}

.footer__list {
	margin-top: 10px;
}

.footer__list-item {
	padding-top: 4px;
}

.footer__link {
	font-family: Raleway; 
	font-size: .857rem;
	color: $color-additional;
}

.footer__link:hover {
  	color: $color-opposite;
}

.phone-icon_small {
	height: 35px;
	width: 35px;
	margin-top: 4px;
}

.phone-number {
	float: right;
	font-family: Adamant;
	color: $color-additional;
	// margin-left: 5px;
}

.copyrights-line {
	background-color: $color-accent;
	font-family: Raleway;
	font-size: .75rem;
	color: $color-base;	
}

.copyrights__wrapper {
	display: flex;
	justify-content: space-between;
}