/* PRODUCTS SECTION */

.products_new {
	margin-bottom: 30px;
}

.section__title {
	text-align: center;
    font-family: Adamant;
    font-size: 2.1875rem;
    color: $color-accent;
    padding-top: 25px;
}

.product__list {
	margin-bottom: 30px;
}

.product {
	margin-top: 20px;
	padding: 0 10px;
}

.product__wrapper {
	display: flex;
	min-height: 460px;
	box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.1);
}

.product__link {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	font-family: Raleway;
	text-align: left;
	color: $color-additional;
	.button_add-to-cart {
		margin-top: auto;
	}
	.separator_horizontal {
		margin-top: 20px;
	}
}

.product__img {
	width: 100%;
    height: auto;
}

.product__inner-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
	padding: 20px;
}

.product__name {
	font-family: Adamant;
	font-size: 1.75rem;
}

.product__description {
	font-size: 1.125rem;
	margin-top: 10px;
}

.product__price {
	margin-bottom: 20px;
	color: $color-opposite;
	font-size: 1.875rem;
}